body {
	margin: 0px;
	background-color: black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: auto 100%; */
	background-size: 100% auto;
}
nav {
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	z-index: 99;
}
p, li {
	font-size: 20px;
	font-family: SegoeUI;
}
strong {
	font-weight: bolder;
	font-size: 24px;
}
th {
	font-family: SegoeUI;
	font-weight: 1000;
	color: white;
	font-size: 20px;
}
h1 {
	margin: 0;
	font-size: 100px;
	font-family: AquireBold;
	text-align: center;
	color: white;
}
h2 {
	text-align: center;
	color: white;
	font-size: 35px;
	font-family: Momcake;
	font-weight: bold;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:not(nav a) {
	color: white;
	text-decoration: underline;
}
a:not(nav a):hover {
	text-decoration: underline;
	text-decoration-style: double;
}
nav table:nth-of-type(1) {
	display: inline-block;
	left: 0;
}
nav table:nth-of-type(2) {
	float: right;
}
nav table:nth-of-type(2) th {
	padding: 10px;
}
nav table:nth-of-type(2) img {
	height: 28px;
	padding: 0;
	margin: 0;
}
.img-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.header {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.65);
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.header h1 {
	position: relative;
	font-size: 120px;
}
.header h2 {
	position: relative;
	margin: 0;
	font-size: 36px;
	font-family: Momcake;
	text-align: center;
	color: white;
}
.heading {
	top: 50%;
	position: relative;
}
.maincontent {
	background-color: black;
	display: block;
	width: 100%;
}
.background {background-color:black;}
.content {
	padding-top: 30px !important;
	padding: 100px;
	color: white;
	min-height: 700px;
}
.navlink {
	color: white;
	text-decoration: none;
}
.navlink:hover {
	color: white;
	text-decoration: underline;
}
.quote {
	border-left:5px solid gray;
	padding-left:20px;
}
/*FONTS*/
@font-face {
	font-family: AquireBold;
	src: url("./fonts/AquireBold.otf");
}
@font-face {
	font-family: Momcake;
	src: url("./fonts/MomcakeThin.otf");
}
@font-face {
	font-family: SegoeUI;
	src: url("./fonts/Segoe-UI.ttf");
}

