:root {
	font-size: 16px;
}

body {
	margin: 0;
	background-color: black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

nav {
	top: 0;
	position: fixed;
	background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
	width: 100%;
	z-index: 99;
	display: grid;
	grid-template-columns: 25% 75%;
	font-family:'MomcakeBold';
	font-size:25px;
	font-weight: bold;
	color: white;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding-bottom:2rem;
}

h1 {
	margin: 0;
	font-size: 5rem;
	font-family: 'AquireBold';
	text-align: center;
	color: white;
}
h2 {
	font-size: 3.5rem;
	margin: 0;
	font-family: 'AquireBold';
	text-align: center;
	color: white;
}
h3 {
	font-size: 2.5rem;
	font-family: 'AquireReg';
	text-align: center;
	color: white;
	margin: 0;
}
p, li {
	font-size: 1.25rem;
	font-family: 'SegoeUI';
	color: white;
}
strong, b {
	font-weight: bolder;
	font-size: 1.5rem;
}

#nav-right {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}

nav a {
	margin: 0.7rem 1.6rem;
	color: rgb(220,220,220);
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

header {
	width: 100%;
	height: 100vh;
	position:absolute;
	top: 0;
	left:0;
	z-index:49
}

#video-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	z-index:50;
}

#overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 4rem;
	padding-top: 57vh;
	z-index:52
}

#overlay h1 {
	font-size: 9.3rem;
}

#heading-subtext {
	font-size: 2.4rem;
}

#cursor {
	font-weight: bold;
	opacity: 0;
}

#header-logo {
	top: 11%;
	width:20%;
	z-index: 60;
	margin-left: 40%;
	margin-right: 40%;
	position: sticky;
}

header video {
	width:100%;
}

main {
	background: linear-gradient(97deg, rgba(21,73,130,0.14) 2%, rgba(0,114,80,0.1) 23%, rgba(171,136,47,0.08) 53%, rgba(239,71,35,0.06) 91%);
	padding-bottom: 1em;
}

#scroll-tracker {
	display:block;
	height:100vh;
	margin-bottom: 110vh;
}

#logo-wrapper {
	position: absolute;
	height:200vh;
	top:0;
	width:100%;
}

.content-wrapper {
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 6%;
}

.content-grid, .flex-container  {
	margin-left: 22%;
	margin-right: 22%;
}

.content-grid {
	display: grid;
	grid-template-columns: 48.5% 48.5%;
	gap:1%;
}

.grid-container {
	padding: 1.7rem;
}

.content-grid .img-container {
	width: 96%;
	margin-left: 2%;
	margin-right:2%;
	position: relative;
	height: min-content;
}

.img-container img {
	width: 100%;
}

.img-container .caption {
	font-family: 'SegoeUI';
	position: absolute;
	bottom: 4%;
	right: 3%;
	color:white;
	margin: 0;
	font-size: 1rem;
	text-shadow: 
		2px 2px 4px black, 
		-2px -2px 4px black,
		-2px 2px 4px black,
		2px -2px 4px black;
}

.img-container * {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin-top: 1.6em;
}

button {
	border: none;
	padding: 1.2em;
	color: white;
	font-family: 'AquireReg';
	font-size: 2rem;
	text-align: center;
	background: rgb(0,0,0);
}

button:hover {
	background: rgb(100,100,100);
	text-decoration: none;
	cursor: pointer;
}

footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left:0;
	width: 100%;
	padding: 0.9em 0;
}

footer p {
	color: rgb(100,100,100);
	font-size: 1rem;
	text-align: center;
	margin:0;
}

/* NOSCRIPT */
noscript {
	position:absolute;
	z-index: 60;
	top: 2%;
	left:0;
	width: 98.8%;
	background-color:rgb(0,0,0);
	display: block;
	padding: 1% 0.6%;
	text-align: center;
}

/*FONTS*/
@font-face {
	font-family: 'AquireBold';
	src: url("./fonts/AquireBold.otf") format('opentype');
}
@font-face {
	font-family: 'AquireReg';
	src: url("./fonts/AquireRegular.otf") format('opentype');
}
@font-face {
	font-family: 'MomcakeThin';
	src: url("./fonts/MomcakeThin.otf") format('opentype');
}
@font-face {
	font-family: 'MomcakeBold';
	src: url("./fonts/MomcakeBold.otf") format('opentype');
}
@font-face {
	font-family: 'SegoeUI';
	src: url("./fonts/Segoe-UI.ttf") format('truetype');
}